@model LearningService.WebApplication.Models.HomePageViewModel
@{
    ViewBag.Title = "Strona główna";
}
<style>
    .flex-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .flex-item {
        height: 150px;
        padding: 5px 25px 0 0;
    }

    .flex-item-connector {
        border: 1px #dddddd solid;
    }

    .flex-item-big {
        width: 30%;
    }

    .flex-item-small {
        width: 10%;
        height: 75px;
    }

    .flex-item-header {
        height: 50px;
        padding-top: 15px;
        padding-left: 15px;
        border-bottom: 1px #dddddd solid;
        background-color: #f5f5f5;
    }

    .flex-item-content {
        height: 100px;
        padding-top: 15px;
        padding-left: 15px;
    }

    .marginLeftHeader {
        margin-left: 15px;
    }

    .homePageBorderSeparator {
        margin: 15px;
    }
    .flex-item-see-all span {
        display: block;
    }

    .flex-item-see-all {
        background-color: transparent;
        border: 1px solid #dddddd;
        padding: 8px;
    }
</style>


<h2>Artykuły</h2>
<div class="">
    <div class="flex-container">
        @if (!Model.Articles.Any())
        {
            <p>nie masz jeszcze zadnego artykulu.. dodaj</p>
        }
        else
        {
            foreach (var article in Model.Articles)
            {
                <div class="flex-item flex-item-big">
                    <div class="flex-item-connector">
                        <div class="flex-item-header">@article.Headline</div>
                        <div class="flex-item-content">@Html.Raw(article.ContentArticle)</div>
                    </div>
                </div>
            }
            <div class="flex-item flex-item-small">
                <button class="flex-item-see-all text-center" type="button" onclick="location.href='@Url.Action("Index", "Article")'">
                    <span>
                        <i class="material-icons">more_horiz</i>
                    </span>
                    <span>
                        zobacz wszystkie
                    </span>
                </button>
            </div>
        }
    </div>
</div>

<hr />

<h2 class="marginLeftHeader">Kursy</h2>
<div class="">
    <div class="flex-container">
        @if (!Model.Courses.Any())
        {
            <p>nie utworzyłeś zadnego kursu.. dodaj</p>
        }
        else
        {
            foreach (var course in Model.Courses)
            {
                <div class="flex-item flex-item-big">
                    <div class="flex-item-connector">
                        <div class="flex-item-header">@course.Name</div>
                        <div class="flex-item-content">@course.GetDescriptionShort</div>
                    </div>
                </div>
            }
            <div class="flex-item flex-item-small">
                <button class="flex-item-see-all text-center" type="button" onclick="location.href='@Url.Action("Index", "Course")'">
                    <span>
                        <i class="material-icons">more_horiz</i>
                    </span>
                    <span>
                        zobacz wszystkie
                    </span>
                </button>
            </div>
        }
    </div>
</div>

<hr />

<h2 class="marginLeftHeader">Twoja aktywność</h2>
<div class="">
    <div class="">
        <div class="col-md-2">
            Artykuły
        </div>
        @if (!Model.Articles.Any())
        {
            <p>Nie masz jeszcze zadnego artykulu.. Dodaj +</p>
        }
        else
        {
            foreach (var activity in Model.ArticleActivities)
            {
                <div class="">
                    <div class="panel panel-default">
                        <div class="panel-heading">@activity.GetDate()</div>
                        <div class="panel-body">@Html.Raw(activity.Description)</div>
                    </div>
                </div>
            }
            <div class="col-md-1">
                <div class="panel panel-default">
                    <div class="panel-heading">..</div>
                    <div class="panel-body"></div>
                </div>
            </div>
        }
    </div>
</div>
<div class="">
    <div class="">
        <div class="col-md-2">
            Kursy
        </div>
        @if (!Model.Courses.Any())
        {
            <p>Nie utworzyłeś żadnego kursu.. dodaj</p>
        }
        else
        {
            foreach (var activity in Model.CourseActivities)
            {
                <div class="">
                    <div class="panel panel-default">
                        <div class="panel-heading">@activity.GetDate()</div>
                        <div class="panel-body">@activity.Description</div>
                    </div>
                </div>
            }
            <div class="col-md-1">
                <div class="panel panel-default">
                    <div class="panel-heading">..</div>
                    <div class="panel-body"></div>
                </div>
            </div>
        }
    </div>
</div>