@model LearningService.WebApplication.Models.HomePageViewModel
@{
    ViewBag.Title = "Strona główna";
}

<h2>Artykuły</h2>
<div class="">
    <div class="flex-container">
        @foreach (var article in Model.Articles)
        {
            <div class="flex-item flex-item-big">
                <div class="flex-item-connector shadow-normal">
                    <div class="flex-item-header">@article.Headline</div>
                    <div class="flex-item-content">@Html.Raw(article.ContentShortened)</div>
                </div>
            </div>
        }
        <div class="flex-item flex-item-small">
            <button class="flex-item-see-all shadow-normal text-center" type="button" onclick="location.href='@Url.Action("UserArticles", "Article")'">
                <span>
                    <i class="material-icons">more_horiz</i>
                </span>
                <span>
                    zobacz wszystkie
                </span>
            </button>
        </div>
    </div>
</div>

<hr />

<h2>Kursy</h2>
<div id="courseAll" class="">
    <div class="flex-container">
        @foreach (var course in Model.Courses)
        {
            <div class="flex-item flex-item-big">
                <div class="flex-item-connector shadow-normal">
                    <div class="flex-item-header">@course.Name</div>
                    <div class="flex-item-content">@course.GetDescriptionShort</div>
                    <div class="flex-item-footer">Lekcje @course.CountUserSubscriberFinishedLesson</div>
                </div>
            </div>
        }
        <div class="flex-item flex-item-small">
            <button class="flex-item-see-all text-center shadow-normal" type="button" onclick="location.href='@Url.Action("UserCourses", "Course")'">
                <span>
                    <i class="material-icons">more_horiz</i>
                </span>
                <span>
                    zobacz wszystkie
                </span>
            </button>
        </div>
    </div>
</div>

<hr />

<h2>Twoja aktywność</h2>
<hr />
<div class="">
    <h4>
        Artykuły
    </h4>
    <div class="flex-container">
        @if (!Model.Articles.Any())
        {
            <p>
                nie masz jeszcze zadnego artykulu. 
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Create", "Article")'">
                    Dodaj
                </button>
            </p>
        }
        else
        {
            foreach (var activity in Model.ArticleActivities)
            {
                <div class="flex-item flex-item-big">
                    <div class="flex-item-connector shadow-normal">
                        <div class="flex-item-header">@activity.GetDate()</div>
                        <div class="flex-item-content">@Html.Raw(activity.Description)</div>
                    </div>
                </div>
            }
            <div class="flex-item flex-item-small">
                <button class="flex-item-see-all text-center shadow-normal" type="button" onclick="location.href='@Url.Action("Index", "Article")'">
                    <span>
                        <i class="material-icons">more_horiz</i>
                    </span>
                    <span>
                        zobacz wszystkie
                    </span>
                </button>
            </div>
        }
    </div>
</div>

<hr />

<div>
    <h4>
        Kursy
    </h4>
    <div class="flex-container">
        @if (!Model.Courses.Any())
        {
            <p>nie utworzyłeś zadnego kursu.
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Create", "Course")'">
                    Dodaj
                </button>
            </p>
        }
        else
        {
            foreach (var activity in Model.CourseActivities)
            {
                <div class="flex-item flex-item-big">
                    <div class="flex-item-connector shadow-normal">
                        <div class="flex-item-header">@activity.GetDate()</div>
                        <div class="flex-item-content">@activity.Description</div>
                    </div>
                </div>
            }
            <div class="flex-item flex-item-small">
                <button class="flex-item-see-all text-center shadow-normal" type="button" onclick="location.href='@Url.Action("Index", "Course")'">
                    <span>
                        <i class="material-icons">more_horiz</i>
                    </span>
                    <span>
                        zobacz wszystkie
                    </span>
                </button>
            </div>
        }
    </div>
</div>