@model LearningService.WebApplication.Models.HomePageViewModel
@{
    ViewBag.Title = "Strona główna";
}
<style>
    .marginLeftHeader {
        margin-left: 15px;
    }

    .homePageBorderSeparator {
        margin: 15px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h2 class="marginLeftHeader">Artykuły</h2>
        @if (!Model.Articles.Any())
        {
            <p>nie masz jeszcze zadnego artykulu.. dodaj</p>
        }
        else
        {
            foreach (var article in Model.Articles)
            {
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">@article.Headline</div>
                        <div class="panel-body">@Html.Raw(article.ContentArticle)</div>
                    </div>
                </div>
            }
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">zobacz wszystkie</div>
                    <div class="panel-body"></div>
                </div>
            </div>
        }
    </div>
</div>

<hr class="homePageBorderSeparator"/>

<div class="row">
    <div class="col-md-12">
        <h2 class="marginLeftHeader">Kursy</h2>
        @if (!Model.Courses.Any())
        {
            <p>nie utworzyłeś zadnego kursu.. dodaj</p>
        }
        else
        {
            foreach (var course in Model.Courses)
            {
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">@course.Name</div>
                        <div class="panel-body">@course.GetDescriptionShort</div>
                    </div>
                </div>
            }
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">zobacz wszystkie</div>
                    <div class="panel-body"></div>
                </div>
            </div>
        }
    </div>
</div>

<hr />

<h2 class="marginLeftHeader">Twoja aktywność</h2>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            Artykuły
        </div>
        @if (!Model.Articles.Any())
        {
            <p>Nie masz jeszcze zadnego artykulu.. Dodaj +</p>
        }
        else
        {
            foreach (var activity in Model.ArticleActivities)
            {
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">@activity.GetDate()</div>
                        <div class="panel-body">@Html.Raw(activity.Description)</div>
                    </div>
                </div>
            }
            <div class="col-md-1">
                <div class="panel panel-default">
                    <div class="panel-heading">..</div>
                    <div class="panel-body"></div>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            Kursy
        </div>
        @if (!Model.Courses.Any())
        {
            <p>Nie utworzyłeś żadnego kursu.. dodaj</p>
        }
        else
        {
            foreach (var activity in Model.CourseActivities)
            {
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">@activity.GetDate()</div>
                        <div class="panel-body">@activity.Description</div>
                    </div>
                </div>
            }
            <div class="col-md-1">
                <div class="panel panel-default">
                    <div class="panel-heading">..</div>
                    <div class="panel-body"></div>
                </div>
            </div>
        }
    </div>
</div>