@model LearningService.WebApplication.Models.RegisterViewModel
@{
    //Layout = "~/Views/Shared/_LayoutUnathorize.cshtml";
    Layout = null;
    ViewBag.Title = "Strona główna";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Learning service</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #titleShortUnloggedUser {
            color: #2f2d2d69;
            font-size: 3em;
        }

        .flex-container {
            flex-wrap: wrap;
            justify-content: center;
        }

        .flex-item {
            margin-top: 25px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Learning service", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { title = "" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="registerView">
        <div class="container">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
            {
                <div class="row">
                    <div id="titleShortUnloggedUser" class="col-md-5">
                        Dołącz do naszej społeczności. Nabywaj nowe umiejętności oraz dziel się swoją wiedzą.
                    </div>
                    <div class="col-md-7">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="font-size: 20px;">Rejestracja</div>
                            <div class="panel-body">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.Name, new { @placeholder = "Imię", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.Surname, new { @placeholder = "Nazwisko", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.PasswordFor(m => m.Password, new { @placeholder = "Hasło", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-top: 15px;">
                                    <input type="submit" class="btn btn-primary btn-block" value="Dołącz" />
                                </div>
                            </div>
                            <div class="panel-footer">
                                Masz już konto? @Html.ActionLink("Zaloguj", "Login", "Account")
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        <div>
            <h3>Twoje korzyści</h3>
            <div class="flex-container">
                <div class="flex-item flex-item-big">
                    <div class="flex-item-connector shadow-normal">
                        <div class="flex-item-header"><strong>Support</strong></div>
                        <div class="flex-item-content">Skontaktuj się z twórcą kursu, gdyby coś było niejasne</div>
                    </div>
                </div>
                <div class="flex-item flex-item-big">
                    <div class="flex-item-connector shadow-normal">
                        <div class="flex-item-header"><strong>Darmowa platforma</strong></div>
                        <div class="flex-item-content">Bezpłatny dostęp dla wszystkich, gdziekolwiek jesteś</div>
                    </div>
                </div>
                <div class="flex-item flex-item-big">
                    <div class="flex-item-connector shadow-normal">
                        <div class="flex-item-header"><strong>Mentoring</strong></div>
                        <div class="flex-item-content">Zostań instruktorem dla innych</div>
                    </div>
                </div>
                <div class="flex-item flex-item-big">
                    <div class="flex-item-connector shadow-normal">
                        <div class="flex-item-header"><strong>Nowe umiejętności</strong></div>
                        <div class="flex-item-content">Nabywaj nowe umiejętności poprzez kończenie interesujących Cię kursów</div>
                    </div>
                </div>
                <div class="flex-item flex-item-big">
                    <div class="flex-item-connector shadow-normal">
                        <div class="flex-item-header"><strong>Rozwój osobisty</strong></div>
                        <div class="flex-item-content">Dokumentuj swoje postępy poprzez tworzenie artykułów o nowo nabytych umiejętnościach</div>
                    </div>
                </div>
                <div class="flex-item flex-item-big">
                    <div class="flex-item-connector shadow-normal">
                        <div class="flex-item-header"><strong>Rozwijaj pasję</strong></div>
                        <div class="flex-item-content">Znajdziesz tutaj wiele świetnych artykułów i kursów. Poznaj kreatywność innych osób. Przykłady, które znajdziesz mogą Cię zaskoczyć i zainspirować</div>
                    </div>
                </div>
            </div>
        </div>
        @*<section>
            <div style="margin-top: 30px;">
                <p>
                    opisz jakie zalety daje Ci ten system
                    <ul>
                        <li>support twórcami kursu(skontaktuj się z twórca kursu, gdyby coś było nie jasne)</li>
                        <li>darmowa platforma (bezpłatny dostęp) - dla wszystkich, gdziekolwiek jesteś</li>
                        <li>dostęp do wszystkich kursów</li>
                        <li>czytaj i dziel się informacji w postaci artykułów</li>
                        <li>ucz się według własnego harmonogramu</li>
                        <li>zostań instruktorem dla innych</li>
                        <li>twórz blogi, aby zobaczyć własny rozwój</li>
                        <li>każdy ma szansę na naukę, dostęp dla każdego równomierny</li>
                        <li>ucz się obecnych trendów</li>
                        <li>poznawaj najnowsze nowinki</li>
                        <li>poznawaj nowe umiejętności</li>
                        <li>poświęcaj się pasji i oddaj się kreatywności. Przykłady, które znajdziesz mogą Cię zaskoczyć i zainspirować.</li>
                    </ul>
                </p>
                <p>
                    v1. może zamiast kombinowania ( wybrac 3 albo 6) i np w dwóch kolumnach i w 3 rzędach, jakiś obrazek i opis (wszystko już na białym tle, albo lekko szarym)
                </p>
                <p>
                    v2.
                    na środku jakiś ładny tekst, "jest to system do nauki, inwestuj w swoją przyszłość poznaj zalety jakie da ci ten system", , a pozniej w jednej kolumnie każda zaleta od nowego wiersza w stylu:
                    przyklad : 1. -obrazek- -tekst(naglowek pogrubione a pod spodem krótki opis do 10 wyrazów)
                </p>
            </div>
        </section>*@
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LearningService Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/jqueryval")*@
</body>
</html>

