@model LearningService.WebApplication.Models.RegisterViewModel
@{
    //Layout = "~/Views/Shared/_LayoutUnathorize.cshtml";
    Layout = null;
    ViewBag.Title = "Strona główna";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Learning service</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Learning service", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Zaloguj", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="registerView">
        <div class="container">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="row">
                    <div class="col-md-5">
                        content do umieszczenia (chwytliwy nagłówek)
                    </div>
                    <div class="col-md-7">
                        <div class="panel panel-default">
                            <div class="panel-heading">Rejestracja</div>
                            <div class="panel-body">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn btn-primary" value="Dołącz" />
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                Masz już konto? @Html.ActionLink("Zaloguj", "Login", "Account")
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        <section>
            <div>
                <p>
                    opisz jakie zalety daje Ci ten system
                    <ul>
                        <li>support twórcami kursu(skontaktuj się z twórca kursu, gdyby coś było nie jasne)</li>
                        <li>darmowa platforma (bezpłatny dostęp) - dla wszystkich, gdziekolwiek jesteś</li>
                        <li>dostęp do wszystkich kursów</li>
                        <li>czytaj i dziel się informacji w postaci artykułów</li>
                        <li>ucz się według własnego harmonogramu</li>
                        <li>zostań instruktorem dla innych</li>
                        <li>twórz blogi, aby zobaczyć własny rozwój</li>
                        <li>każdy ma szansę na naukę, dostęp dla każdego równomierny</li>
                        <li>ucz się obecnych trendów</li>
                        <li>poznawaj najnowsze nowinki</li>
                        <li>poznawaj nowe umiejętności</li>
                        <li>poświęcaj się pasji i oddaj się kreatywności. Przykłady, które znajdziesz mogą Cię zaskoczyć i zainspirować.</li>
                    </ul>
                </p>
                <p>
                    v1. może zamiast kombinowania ( wybrac 3 albo 6) i np w dwóch kolumnach i w 3 rzędach, jakiś obrazek i opis (wszystko już na białym tle, albo lekko szarym)
                </p>
                <p>
                    v2.
                    na środku jakiś ładny tekst, "jest to system do nauki, inwestuj w swoją przyszłość poznaj zalety jakie da ci ten system", , a pozniej w jednej kolumnie każda zaleta od nowego wiersza w stylu:
                    przyklad : 1. -obrazek- -tekst(naglowek pogrubione a pod spodem krótki opis do 10 wyrazów)
                </p>
            </div>
        </section>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LearningService Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/jqueryval")*@
</body>
</html>

