@model LearningService.WebApplication.Models.Course.CourseOverwiewViewModel

@{
    ViewBag.Title = "Szczegóły kursu";
}

<h2>Szczegóły kursu: @Model.Course.Name</h2>

<p>Opis: @Model.Course.Description</p>

<p>Subskrypcja: 
    @if (Model.Course.IsSubscribed)
    {
        <span>Aktualnie subskrybujesz</span>
    }
    else
    {
        using(Html.BeginForm("AddSubscribe", "Course", new { courseId = Model.Course.Id }, FormMethod.Post, null))
        {
            <input type="submit" value="subskrybuj" />
        }
    }
</p>

<div>
    <p><strong>Lekcje</strong></p>
    @for (int i = 0; i < Model.Lessons.Count(); i++)
    {
        <p>
            @(i+1). @Model.Lessons[i].Headline
            @Html.ActionLink("Przejdź do lekcji", "StartLesson", "Lesson", new { @lessonId = Model.Lessons[i].Id }, null)
        </p>
    }
</div>
