@model IEnumerable<LearningService.WebApplication.Models.Course.CourseViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="margin-top-md">
    @Html.ActionLink("Stwórz nowy", "Create", null, new { @class = "btn btn-default" })
</div>

<table class="table table-row-collapse">
    <thead>
        <tr class="shadow-normal">
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr class="shadow-normal">
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.ActionLink("Przejdź do kursu", "Index", "Lesson", new { courseId = item.Id }, null)</td>
            </tr>
        }
    </tbody>

</table>
