@model IEnumerable<LearningService.WebApplication.Models.Course.CourseViewModel>

@{
    ViewBag.Title = "User courses";
}
<style>
    .flex-container {
        flex-wrap: wrap;
    }

    .flex-item {
        margin-top: 25px;
    }
</style>
<h3>Wybrane kursy</h3>
<table class="table table-row-collapse">
    <thead>
        <tr class="shadow-normal">
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.IsSubscribed))
        {
            <tr class="shadow-normal">
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    @Html.ActionLink("Szczegóły", "CourseOverwiew", new { courseId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
<h3>Pozostałe</h3>
<div id="courseAll">
    <div class="flex-container">
        @foreach (var course in Model.Where(x => x.IsSubscribed == false))
        {
            <div class="flex-item flex-item-big">
                <div class="flex-item-connector shadow-normal">
                    <div class="flex-item-header">@course.Name</div>
                    <div class="flex-item-content">@course.GetDescriptionShort</div>
                    <div class="flex-item-footer">@Html.ActionLink("Szczegóły", "CourseOverwiew", new { courseId = course.Id })
                    </div>
                </div>
            </div>
        }
    </div>
</div>