@model LearningService.WebApplication.Models.ActivityLog.ActivityLogContainerViewModel
@{
    ViewBag.Title = "Twoje aktywności";
}

<div class="row">
    <div class="col-md-4">
        @Html.Partial("_LeftSettingMenuOptions")
    </div>
    <div class="col-md-8">
        <h2>Twoje aktywności</h2>
        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.UserActivities.FirstOrDefault().Date)</th>
                    <th>@Html.DisplayNameFor(model => model.UserActivities.FirstOrDefault().Description)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserActivities.OrderByDescending(x => x.Date))
                {
                    <tr>
                        <td>@item.GetDate()</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>