@model IEnumerable<LearningService.WebApplication.Models.Article.ArticleBaseViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Artykuły</h2>

<p>
    @Html.ActionLink("Utwórz nowy", "Create")
</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Headline)</th>
        <th>@Html.DisplayNameFor(model => model.ContentArticle)</th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Headline)</td>
        <td>@Html.Raw(item.ContentArticle)</td>
        <td>@Html.ActionLink("Edycja", "Edit", new { articleId = item.Id })</td>
        <td>@Html.ActionLink("Usuń", "Delete", new { id = item.Id })</td>
    </tr>
}

</table>
