@using Microsoft.AspNet.Identity
@using LearningService.WebApplication.Helpers;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole(AspRoles.Admin))
            {
                <li>@Html.ActionLink("Użytkownicy", "Index", "User", routeValues: null, htmlAttributes: new { id = "" })</li>
            }
            @if (User.IsInRole(AspRoles.User))
            {
                <li>@Html.ActionLink("Artykuły innych", "UserArticles", "Article", routeValues: null, htmlAttributes: new { id = "" })</li>
                <li>@Html.ActionLink("Artykuły twoje", "Index", "Article", routeValues: null, htmlAttributes: new { id = "" })</li>
                <li>@Html.ActionLink("Kursy", "Index", "Course", routeValues: null, htmlAttributes: new { id = "" })</li>
            }
            <li>
                @Html.ActionLink("Ustawienia", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>@Html.ActionLink("kompiler", "Index", "SharpCode", routeValues: null, htmlAttributes: new { })</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}