@model LearningService.WebApplication.Models.Lesson.LessonBaseSubscriberViewModel

@{
    ViewBag.Title = "Lekcje";
}

<h2>Lekcje z kursu @Model.CourseName</h2>

<p class="text-danger">
    <strong>Ilość osób subskrybujących: @Model.CountSubscribers</strong>
</p>
<p>@Html.ActionLink("Dodaj teorie", "CreateTheory", new { @courseId = Model.CourseId })</p>
<p>@Html.ActionLink("Dodaj test teoretyczny", "CreateTheoryExam", new { @courseId = Model.CourseId })</p>
<p>@Html.ActionLink("Dodaj test praktyczny", "CreatePracticalExam", new { @courseId = Model.CourseId })</p>

<hr />