@model LearningService.WebApplication.Models.Lesson.LessonTheoryViewModel

@{
    ViewBag.Title = "Dodanie lekcji do kursu";
}
@Html.Action("LessonManagementHeader", new { courseId = Model.CourseId })

<div class="row">

        @Html.Action("LessonManagementBase", new { courseId = Model.CourseId })

        <div class="col-md-6 form-input-full-width">
            <h3>Tworzenie nowej lekcji - teoria</h3>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.CourseId)
                <div class="">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Headline, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Headline, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Headline, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LessonContent, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.LessonContent, new { @id = "lessonTheoryContent", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LessonContent, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Zapisz" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        (function ($) {
            $('#lessonTheoryContent').summernote({
                focus: true,
                height: 150,
                tabSize: 4,
                tabDisable: true,
                codemirror: {
                    theme: 'united'
                },
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['superscript', 'subscript']],
                    ['color', ['color']],
                    ['style', ['style']],
                    ['table', ['table']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['insert', ['link']]
                ]
            });
        })(jQuery);
    </script>
}
