@model LearningService.WebApplication.Models.Lesson.LessonTheoryViewModel

@{
    ViewBag.Title = "Edycja lekcji teorii";
}

<h2>Edycja lekcji teorii</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CourseId)

        <div class="form-group">
            @Html.LabelFor(model => model.Headline, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Headline, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Headline, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LessonContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.LessonContent, new { @id = "lessonTheoryContent", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LessonContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        (function ($)
        {
            $('#lessonTheoryContent').summernote({
                focus: true,
                height: 150,
                codemirror: {
                    theme: 'united'
                },
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['superscript', 'subscript']],
                    ['color', ['color']],
                    ['style', ['style']],
                    ['table', ['table']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['insert', ['link']]
                ]
            });
        })(jQuery);
    </script>
}
