@model LearningService.WebApplication.Models.Lesson.LessonCourseContainerViewModel

@{
    ViewBag.Title = "Lekcje";
}

<h2>Lekcje z kursu @Model.Course.Name</h2>

<p>
    @Html.ActionLink("Dodaj teorie", "CreateTheory", new { @courseId = Model.Course.Id })
</p>
<p>
    @Html.ActionLink("Dodaj test teoretyczny", "CreateTheoryExam", new { @courseId = Model.Course.Id })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lessons.FirstOrDefault().Headline)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Lessons) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Headline)
        </td>
        <td>
            @Html.ActionLink("Edycja", "EditTheory", new { lessonId = item.Id })
        </td>
    </tr>
}

</table>
