@model LearningService.WebApplication.Models.Lesson.LessonPracticalExamLearningViewModel
@{
    ViewBag.Title = "Zdawanie egzaminu praktycznego";
}

<h2>@Model.Headline</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.CourseId)
    @Html.HiddenFor(x => x.Headline)
    @Html.HiddenFor(x => x.LessonContent)

    <div class="form-horizontal">
        <hr />

        <div class="panel panel-default">
            <div class="panel-heading">Treść zadania</div>
            <div class="panel-body">@Html.Raw(Model.LessonContent)</div>
        </div>

        <div class="row" style="margin-top: 30px;">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.TextAreaFor(x => x.Code, 20, 40, new { @class = "form-control", @style = "width: 100%; max-width: 100%;" })
                @Html.ValidationMessageFor(x => x.Code, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
                <input type="submit" value="Sprawdź" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@Html.ActionLink("Powrót", "CourseOverwiew", "Course", new { courseId = Model.CourseId }, new { @class = "btn btn-default", @style = "margin-top: 10px;" })
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
