@model LearningService.WebApplication.Models.Lesson.LessonTheoryExamLearningViewModel
@{
    ViewBag.Title = "Zdany egzamin teoretyczny";
}

<h2>@Model.Headline</h2>

<div class="form-horizontal">
    <hr />

    <div class="row" style="margin-top: 30px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Treść zadania</div>
                <div class="panel-body">
                    <p>@Html.Raw(Model.LessonContent)</p>
                    @for (int i = 0; i < Model.Options.Count; i++)
                    {
                        <p>
                            @(i + 1). @Model.Options[i].Text
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
    <p>Twoja odpowiedź: @Model.Answer</p>
</div>

@Html.ActionLink("Powrót", "CourseOverwiew", "Course", new { courseId = Model.CourseId }, new { @class = "btn btn-default", @style = "margin-top: 10px;" })